@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f2f2f2;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  padding: 2rem 0 1.5rem 0;
  color: hsl(0, 0%, 95%);
}

p {
  font-size: 0.94rem;
  color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  text-align: start;
}

a {
  color: #f2f2f2;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 20.438rem;
  margin: 0 auto;
}

.sedan__container {
  background-color: hsl(31, 77%, 52%);
  padding: 3rem 2.9rem;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.suv__container {
  background-color: hsl(184, 100%, 22%);
  padding: 3rem 2.9rem;
  bottom: 0.5rem;
}

.luxury__container {
  background-color: hsl(179, 100%, 13%);
  padding: 3rem 2.9rem;
  border-radius: 0 0 8px 8px;
  bottom: 1rem;
}

.section__link {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  margin-bottom: 3rem;
}

/* link color */

.sedan--link {
  color: hsl(31, 77%, 52%);
}

.suv--link {
  color: hsl(184, 100%, 22%);
}

.luxury--link {
  color: hsl(179, 100%, 13%);
}

/* hover Effects */
.sedan--link:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: solid 2px hsl(0, 0%, 95%);
}

.suv--link:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: solid 2px hsl(0, 0%, 95%);
}

.luxury--link:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: solid 2px hsl(0, 0%, 95%);
}

@media screen and (min-width: 920px) {
  body {
    height: 100vh;
    display: flex;
  }

  .container {
    display: flex;
    min-width: 57.5rem;
    height: 31.25rem;
    margin: auto;
  }

  .sedan__container {
    border-radius: 8px 0 0 8px;
  }

  .suv__container {
    position: static;
    right: 1rem;
    border-radius: 0;
  }
  .luxury__container {
    position: static;
    border-radius: 0 8px 8px 0;
  }

  .section__link {
    margin-top: 5.5rem;
  }
}
